/*
Colors used:
Primary Color (Blue-Green): #025F5F;
Text Color (Dark-Gray): ##252525;
*/

p {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}